<p>
  empleado {{name}} works!
</p>



<hr/>

<h3>Colores Switch</h3>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'color': 'white', 'padding':'20px'}" >Color rojo</li>
  <li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'color': 'white', 'padding':'20px'}" >Color verde</li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 'color': 'white', 'padding':'20px'}" >Color azul</li>
</ul>


<button (click)="cambiarExterno()">Cambiar Externo</button>
  <ul *ngIf="trabajadorExterno">
  <li>{{trabajadores[0].nombre}}</li>
  <li>{{trabajadores[0].cargo}}</li>
  <li>{{trabajadores[0].edad}}</li>
  <li>{{trabajadores[0].contratado}}</li>
</ul>


<div *ngFor="let empleado of trabajadores; let i = index">
  <strong>Empleado {{i+1}}</strong>
  <ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.cargo}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.contratado}}</li>
  </ul>



</div>

